.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 353px;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.card__like-btn {
  padding: 0;
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
