.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  opacity: 0.7;
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  gap: 8px;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  width: 149px;
  height: 52px;
  white-space: nowrap;
  padding: 18px 32px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #212121;
  gap: 8px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__column {
    margin-right: 0;
    text-align: center;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
    line-height: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
    line-height: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
    margin-left: 0;
    max-width: 288px;
    width: 100%;
    justify-content: center;
  }

  .profile__edit-btn {
    padding: 0 0 20px;
    display: block;
    margin: 0 auto;
  }
}
